body{
    margin: 0;
}

#map {
    height: 400px;
    width: 100%;
    margin: 0px;
    padding: 0px
}

.infoBox{
    margin-left: 0px;
    margin-right: 5px;
    font-size: .7em;
}

.infoImage{
    width: 196px;
    height: 133px;
    margin-top: -25px;
}

#infoPageContent{
    text-align: center;
}

#infoPageContent li{
    list-style: none;
}

#infoPageContent img{
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;

}